### Настройки

Начинаем с импорта библиотек

In [1]:
import pandas as pd
import psycopg2

In [ ]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку

In [37]:
DBNAME = 'skillfactory'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [41]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

Создаем соединение с заданными параметрами

In [42]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

Запрос

In [31]:
# код запроса представляет из себя строковую переменную
n = 10
query = f'''select *
            from sql.pokemon
            limit {n}
         '''
# лучше использовать f-строки - так удобнее передавать параметры

### Выполнение запроса

In [39]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id                       name  type1   type2  hp  attack  defense  speed
0   1                  Bulbasaur  Grass  Poison  45      49       49     45
1   2                    Ivysaur  Grass  Poison  60      62       63     60
2   3                   Venusaur  Grass  Poison  80      82       83     80
3   4      VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4   7                  Charizard   Fire  Flying  78      84       78    100
5   8  CharizardMega Charizard X   Fire  Dragon  78     130      111    100
6   9  CharizardMega Charizard Y   Fire  Flying  78     104       78    100
7  16                 Butterfree    Bug  Flying  60      45       50     70
8  17                     Weedle    Bug  Poison  40      35       30     50
9  18                     Kakuna    Bug  Poison  45      25       50     35

In [27]:
# Запрос для получения списка всех таблиц в базе данных
query = '''
SELECT schemaname as schema_name,
       tablename as table_name
FROM pg_tables
WHERE schemaname NOT IN ('pg_catalog', 'information_schema')
ORDER BY schemaname, tablename;
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-3475483529.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   schema_name             table_name
0       public                  areas
1       public                 cities
2       public                columns
3       public              contracts
4       public                doctors
5       public           ds_vacancies
6       public              employers
7       public   employers_industries
8       public           films_recent
9       public             industries
10      public             operations
11      public                 proekt
12      public  stored_procedure_prac
13      public                 t_tab1
14      public                 t_tab2
15      public                table_1
16      public                   test
17      public              vacancies

In [43]:
query = '''SELECT COUNT(*) as vacancies_count
           FROM public.vacancies'''
df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-4031991910.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancies_count
0            49197

In [44]:
query = '''SELECT COUNT(*) as employers_count
           FROM public.employers'''
df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-152411994.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employers_count
0            23501

In [45]:
query = '''SELECT COUNT(*) as areas_count
           FROM public.areas'''
df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-619400811.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   areas_count
0         1362

In [46]:
query = '''SELECT COUNT(*) as industries_count
           FROM public.industries'''
df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2914580462.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   industries_count
0               294

In [47]:
query = '''
SELECT
    a.name as region,
    COUNT(v.id) as cnt
FROM public.vacancies v
JOIN public.areas a ON v.area_id = a.id
GROUP BY a.name
ORDER BY cnt DESC
LIMIT 5
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2244895654.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

            region   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

In [48]:
query = '''
SELECT COUNT(*) as vacancies_with_salary
FROM public.vacancies
WHERE salary_from IS NOT NULL
   OR salary_to IS NOT NULL
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2700691386.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancies_with_salary
0                  24073

In [49]:
query = '''
SELECT
    ROUND(AVG(salary_from)) as avg_salary_from,
    ROUND(AVG(salary_to)) as avg_salary_to
FROM public.vacancies
WHERE salary_from IS NOT NULL
   OR salary_to IS NOT NULL
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-1840298428.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   avg_salary_from  avg_salary_to
0          71065.0       110537.0

In [50]:
query = '''
WITH schedule_employment_counts AS (
    SELECT
        schedule,
        employment,
        COUNT(*) as vacancy_count,
        ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) as rank
    FROM public.vacancies
    GROUP BY schedule, employment
)
SELECT
    schedule,
    employment,
    vacancy_count
FROM schedule_employment_counts
WHERE rank = 2
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-3589890966.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           schedule        employment  vacancy_count
0  Удаленная работа  Полная занятость           7802

In [51]:
query = '''
SELECT
    experience,
    COUNT(*) as vacancy_count
FROM public.vacancies
GROUP BY experience
ORDER BY vacancy_count ASC
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2839053337.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           experience  vacancy_count
0         Более 6 лет           1337
1           Нет опыта           7197
2       От 3 до 6 лет          14511
3  От 1 года до 3 лет          26152

In [52]:
query = '''
WITH employer_vacancy_rank AS (
    SELECT
        e.name as employer_name,
        COUNT(v.id) as vacancy_count,
        ROW_NUMBER() OVER (ORDER BY COUNT(v.id) DESC) as rank
    FROM public.employers e
    JOIN public.vacancies v ON e.id = v.employer_id
    GROUP BY e.id, e.name
)
SELECT
    employer_name,
    vacancy_count,
    rank
FROM employer_vacancy_rank
WHERE rank IN (1, 5)
ORDER BY rank
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-39950547.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employer_name  vacancy_count  rank
0         Яндекс           1933     1
1  Газпром нефть            331     5

In [53]:
query = '''
WITH region_stats AS (
    SELECT
        a.id,
        a.name as region_name,
        COUNT(DISTINCT e.id) as employers_count,
        COUNT(DISTINCT v.id) as vacancies_count
    FROM public.areas a
    LEFT JOIN public.employers e ON a.id = e.area
    LEFT JOIN public.vacancies v ON a.id = v.area_id
    GROUP BY a.id, a.name
)
SELECT
    region_name,
    employers_count,
    vacancies_count
FROM region_stats
WHERE vacancies_count = 0
ORDER BY employers_count DESC
LIMIT 1
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-913218211.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

  region_name  employers_count  vacancies_count
0      Россия              410                0

In [54]:
query = '''
SELECT
    e.name as employer_name,
    COUNT(DISTINCT v.area_id) as regions_count
FROM public.employers e
JOIN public.vacancies v ON e.id = v.employer_id
GROUP BY e.id, e.name
ORDER BY regions_count DESC
LIMIT 1
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2738495570.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

  employer_name  regions_count
0        Яндекс            181

In [55]:
query = '''
SELECT COUNT(*) as employers_without_industry
FROM public.employers e
LEFT JOIN public.employers_industries ei ON e.id = ei.employer_id
WHERE ei.industry_id IS NULL
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-1295753694.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employers_without_industry
0                        8419

In [56]:
query = '''
WITH companies_with_4_industries AS (
    SELECT
        e.id,
        e.name as company_name,
        COUNT(ei.industry_id) as industries_count
    FROM public.employers e
    JOIN public.employers_industries ei ON e.id = ei.employer_id
    GROUP BY e.id, e.name
    HAVING COUNT(ei.industry_id) = 4
)
SELECT
    company_name,
    industries_count
FROM companies_with_4_industries
ORDER BY company_name ASC
LIMIT 1 OFFSET 2
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-3316875799.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

  company_name  industries_count
0         2ГИС                 4

In [57]:
query = '''
SELECT COUNT(DISTINCT ei.employer_id) as employers_count
FROM public.employers_industries ei
JOIN public.industries i ON ei.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения'
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2108047798.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employers_count
0             3553

In [61]:
query = '''
WITH yandex_vacancies AS (
    SELECT
        a.name as city,
        COUNT(v.id) as vacancy_count
    FROM public.vacancies v
    JOIN public.employers e ON v.employer_id = e.id
    JOIN public.areas a ON v.area_id = a.id
    WHERE e.name = 'Яндекс'
    AND a.name IN ('Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург',
                   'Нижний Новгород', 'Казань', 'Челябинск', 'Омск',
                   'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск',
                   'Пермь', 'Воронеж', 'Волгоград', 'Краснодар')  -- Добавлен Краснодар
    GROUP BY a.name
),
total_count AS (
    SELECT SUM(vacancy_count) as total_vacancies
    FROM yandex_vacancies
)
SELECT
    city,
    vacancy_count
FROM yandex_vacancies
UNION ALL
SELECT
    'Total' as city,
    total_vacancies as vacancy_count
FROM total_count
ORDER BY vacancy_count ASC, city ASC
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-4282443518.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

               city  vacancy_count
0              Омск           21.0
1         Челябинск           22.0
2        Красноярск           23.0
3         Волгоград           24.0
4            Казань           25.0
5             Пермь           25.0
6    Ростов-на-Дону           25.0
7            Самара           26.0
8               Уфа           26.0
9         Краснодар           30.0
10          Воронеж           32.0
11      Новосибирск           35.0
12  Нижний Новгород           36.0
13     Екатеринбург           39.0
14  Санкт-Петербург           42.0
15           Москва           54.0
16            Total          485.0

In [71]:
query = '''
SELECT COUNT(*) as data_vacancies_count
FROM public.ds_vacancies
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-2822057721.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   data_vacancies_count
0                   480

In [64]:
query = '''
SELECT COUNT(*) as junior_ds_vacancies_count
FROM public.vacancies
WHERE (
    -- Условия для data science вакансий (регистронезависимый поиск)
    LOWER(name) LIKE '%data%scientist%'
    OR LOWER(name) LIKE '%data%science%'
    OR LOWER(name) LIKE '%исследователь%данн%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine%learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
)
AND (
    -- Условия для Junior уровня
    LOWER(name) LIKE '%junior%'
    OR experience = 'Нет опыта'
    OR employment = 'Стажировка'
)
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-1579882707.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   junior_ds_vacancies_count
0                         51

In [65]:

query = '''
SELECT COUNT(*) as ds_sql_vacancies_count
FROM public.vacancies
WHERE (
    -- Условия для data science вакансий
    LOWER(name) LIKE '%data%scientist%'
    OR LOWER(name) LIKE '%data%science%'
    OR LOWER(name) LIKE '%исследователь%данн%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine%learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
)
AND (
    -- Условия для SQL/Postgres навыков
    LOWER(key_skills) LIKE '%sql%'
    OR LOWER(key_skills) LIKE '%postgres%'
    OR LOWER(key_skills) LIKE '%postgresql%'
)
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-1822758734.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   ds_sql_vacancies_count
0                     229

In [75]:
query = '''
SELECT COUNT(*) as ds_python_vacancies_count
FROM public.vacancies
WHERE (
    -- Условия для data science вакансий (ТОЧНО ТАКИЕ ЖЕ как в задании 3)
    LOWER(name) LIKE '%data%scientist%'
    OR LOWER(name) LIKE '%data%science%'
    OR LOWER(name) LIKE '%исследователь%данн%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine%learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
)
AND (
    -- Условия для Python навыков (вместо SQL/Postgres)
    LOWER(key_skills) LIKE '%python%'
)
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-1977254287.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   ds_python_vacancies_count
0                        357

In [82]:
query = '''
SELECT
    AVG(
        CASE
            WHEN key_skills IS NULL OR key_skills = '' THEN 0
            ELSE LENGTH(key_skills) - LENGTH(REPLACE(key_skills, CHR(10), '')) + 1
        END
    )::numeric as avg_skills
FROM public.vacancies
WHERE (
    LOWER(name) LIKE '%data%scientist%'
    OR LOWER(name) LIKE '%data%science%'
    OR LOWER(name) LIKE '%исследователь%данн%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine%learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
)
'''

df = pd.read_sql_query(query, connection)
# Форматируем результат с двумя знаками после запятой
formatted_result = f"{df['avg_skills'][0]:.2f}"
print(f"Среднее количество навыков: {formatted_result}")

/tmp/ipython-input-1387000671.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Среднее количество навыков: 0.90

In [83]:
query = '''
SELECT
    experience,
    ROUND(
        AVG(
            COALESCE(salary_to, salary_from) +
            COALESCE(salary_from, salary_to)
        ) / 2
    ) as avg_salary
FROM public.vacancies
WHERE (
    -- Условия для data science вакансий
    LOWER(name) LIKE '%data%scientist%'
    OR LOWER(name) LIKE '%data%science%'
    OR LOWER(name) LIKE '%исследователь%данн%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine%learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
)
AND (
    -- Только вакансии с указанной зарплатой
    salary_from IS NOT NULL
    OR salary_to IS NOT NULL
)
AND experience = 'От 3 до 6 лет'
GROUP BY experience
'''

df = pd.read_sql_query(query, connection)
df

/tmp/ipython-input-4152756911.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

      experience  avg_salary
0  От 3 до 6 лет    256454.0

### Финал

In [85]:
# не забываем закрыть соединение после окончания работы
connection.close()